.myCard {
    background-color: transparent;
    position: fixed;
    width: 290px;
    height: 700px;
    perspective: 1000px;
    left: 75.5%;
    top: 08%;
    display: block;
    scale: 0.9;
    transform: translateX(500%); /* déplacer la carte en dehors de l'écran par défaut */
    transition: transform 1s ease-in-out;
    
  }

  .myCard.visible {
    transform: translateX(0); /* remettre la carte à sa position initiale lorsqu'elle est visible */
    
}
.myCard.cache {
  transform: translateX(500%); /* remettre la carte à sa position initiale lorsqu'elle est visible */
  
}

  .myCard h1 {
    font-weight: 900;
    text-align: center;
    color: white;
    margin: 0;
    margin-bottom: 40px;
  }
  .imagezoom{
    animation: grossisement 2s linear infinite;
  }

  @keyframes grossisement {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.04);
    }
  
    100% {
      transform: scale(1);
    }
  }



  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    cursor: pointer;

    
    
  }

.rotate {
    transform: rotateY(360deg);
}
  
  .myCard:hover .innerCard {
    transform: rotateY(180deg);
  }
  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    color: white;

    font-weight: 700;
  }
  
  .frontSide,
  .frontSide::before {
    background: #f1f1f1;
    color: #000;
  }
  
  .backSide,
  .backSide::before {
    background-image: #3b3b3b;
  }
  
  .backSide {
    transform: rotateY(180deg);
  }
  
  .frontSide::before,
  .backSide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 1rem);
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: opacity 2s;
    opacity: 1;
    animation: animate 2s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.5;
    }
  
    80% {
      opacity: 0;
    }
  
    100% {
      opacity: 0.5;
    }
  }